
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main{
    width: 290px;
    margin:50px 0px;
    overflow: hidden;
    border-radius: 10px;
  }
  .section{
    color:hsla(0, 0%, 100%, 0.75);
    padding:30px;
  }
  
  h1 {
    font-size: 40px;
    font-weight: 700px;
    font-family: 'Big Shoulders Display', sans-serif;
    margin-bottom: 20px;
    color:hsl(0, 0%, 95%)
  }

    img {
        margin-bottom: 20px;
    }

    .content {  
        font-family: 'Lexend Deca';
        font-weight: 400;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    
    .button{
      font-weight: bold;
        padding:10px 25px;
        border: none;
        border-radius: 50px;
      }


.section-1{
    background-color: hsl(31, 77%, 52%);
    .button {
        color: hsl(31, 77%, 52%);
        font-weight: bold;
        padding:10px 25px;
        border: none;
        border-radius: 50px;
    }
}
.section-2{
    background-color: hsl(184, 100%, 22%);
    .button{
        color: hsl(184, 100%, 22%);
        font-weight: bold;
        padding:10px 25px;
        border: none;
        border-radius: 50px;
    }
}
.section-3{
    background-color: hsl(179, 100%, 13%);
    .button{
        color:hsl(179, 100%, 13%) ;
    }
}
